body{
    background-color: black;
}
.container{
    background-image:url(assets/bg.jpg);
    background-position: center center;
    width: 100%;
    height: 80vh;
    background-repeat: no-repeat;

}
.container .nav img{
    width: 150px;
    position: relative;
    z-index: 10;
}
.nav{
    display: flex;
    margin: auto;
    width: 80vw;
    position: relative;
    justify-content: space-between;
    padding-top: 10px;
}
.main{
    background-color: black;
    height: 80vh;
    width: 100%;
    opacity: 30%;
    position:absolute;
    top: 0%;
}

.heading{
    color: white;
    text-align: center;
    font-family:sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
    margin: auto;
    position: relative;
    z-index: 10;
    height: calc(100% - 100px);     
}
.heading h1{
    font-weight: 800;
    font-size: 45px;
}
.heading span{
    font-weight: 800;
    font-size: large;
}
.heading p{
    font-size: 15px;
    font-weight: 600;
}
.input{
    display: flex;
    gap: 10px;
}
.input button{
    background-color: red;
    color: white;
    font-weight: 700;
    font-size: 25px;
    border: 2px;
    border-radius: 4px;
    width: 215px;
    padding:15px 24px;
}
.input input{
    background: rgba(33, 32, 32, 0.69);
    /* padding:0px 150px ; */
    padding-left: 10px;
    width:350px;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    text-align: start;
    border: 1px solid rgba(255, 255, 255, 0.336) ;
    border-radius: 4px ;
    height: 50px;
    position: relative;
    margin-top: 5px;
    /* height: 50px; */
    

    /* background: rgba(33, 32, 32, 0.69);
    font-size: 15px;
    width: 380px;
    height: 50px;
    padding-left: 10px;
    font-weight: 600;
    border: 1px solid rgba(255, 255, 255, 0.336);
    border-radius: 4px;
    color: gray; */
}
.input input::placeholder{
    text-align: left;
}