
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
margin: 0;
padding: 0;
}
body{
    background-color:black ;
}
.main{
    background-image: url(assets/bg.jpg);
    height: 80vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size:max(1200px,100vw) ;

}
.main .black{
    background-color: black;
    height:80vh;
    width: 100%; /* this will maintain width */
    opacity: 60%;
    position: absolute;/* this will set top 0 with respect to its parents */
    top: 0;
    display: flex;
}
.nav{
    height: 13vh;
    max-width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav img{
    position: relative;
    z-index: 10;
    padding-right: 50px;
}
.nav button{
    background: none;
    color: white;
    padding: 6px 30px;
    position: relative;
    z-index: 10;
    font-size: 17px;
    border: 1px solid rgba(255, 255, 255, 0.336);
    border-radius: 5px;
    margin-right:10px ;
}
.nav button:nth-child(2){
    padding: 8px 13px 8px 13px;
    background-color: red;
    border: none;
    font-weight: 600;
    font-size: 14px;
}
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100%;
    width: 40vw;
    margin: auto;
    text-align: center;
    flex-direction: column;
    font-family: Martel Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    position: relative;
}
.hero h1{
    font-weight: 900;
    font-size:50px;
    word-spacing: 3px;
    line-height: 70px;
}
.hero div{
    font-weight: 900;
    font-size: 1.25rem;
    line-height: 43px;
}
.hero p{
    font-weight: 600;
    font-size: 1rem;
    gap: 30px;
    padding-top: 18px;
}
.info{
    display: flex;
    gap: 10px;
    padding-top: 10px;
}
.info input{
    background: rgba(33, 32, 32, 0.69);
    font-size: 15px;
    width: 380px;
    height: 50px;
    padding-left: 10px;
    font-weight: 600;
    border: 1px solid rgba(255, 255, 255, 0.336);
    border-radius: 4px;
    color: gray;
}
.info button {
    width: 215px;
    padding:3px 24px;
    font-size:25px ;
    font-weight: 600;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(229, 9, 20);
    background-color: rgb(229, 9, 20);
    border-radius: 4px;
    font-family: sans-serif;
    
}
.seperation{
    height: 7px;
    background-color: rgb(54, 54, 54);
    position: relative;
    bottom: 17%;
    
}
.info button:hover{
    /* zoom: 1.2; */
    cursor:pointer;
}

/* .pintu {
    transition: transform 0.1s ease-in-out;
}

.pintu {
    transform: scale(1.2);
} */